/* common css */

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

.common-btn{
    border: none;
    padding: 10px 25px;
    background-color: #1D4ED8;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}

nav, header, .speaker-section{
    max-width: 1200px;
    margin: auto;
}

img{
    width: 100%;
}

/* navber css */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 16px 80px;
}

.nav-ul{
    display: flex;
    gap: 15px;
    align-items: center;
    list-style: none;
}

.nav-ul a{
   text-decoration: none;
   color: #575757;
}

/* hero section css */
header{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("./assets/banner.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
}

.header-container{
    color: white;
    max-width: 600px;
    text-align: center;
}

.header-container h1{
    margin-top: 15vh;
    font-size: 48px;
    margin-bottom: 5vh;
}
.header-container button{
    margin-top: 35vh;
}
.header-container p{
    font-weight: 300;
}

/* speaker section */

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 0px 80px;
}

.speakes-child-div{
    border: 0.1px solid rgb(222, 222, 222);
    border-radius: 8px;
    overflow: hidden;
}
.speakes-child-div h5{
    margin: 12px 0px 0px 20px;
}
.small-p{
    margin: 15px 0px 0px 20px;
    font-size: 10px;
    color: #1D4ED8;
    font-weight: 600;
}

.main-p{
    margin: 10px 0px 25px 20px;
    font-weight: 300;
    font-size: 11px;
}

#speaker-header{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-top: 60px;
    margin-bottom: 30px;
}